// Responsive Breakpoints — from Startix _rs.scss
// These variables are consumed by other partials.

$bp-xxl: 'only screen and (min-width:1400px)';
$bp-xl: 'only screen and (min-width:1200px)';
$bp-lg: 'only screen and (min-width:992px)';
$bp-md: 'only screen and (min-width:768px)';
$bp-sm: 'only screen and (min-width:576px)';
$bp-xs: 'only screen and (min-width:480px)';
